<kendo-appbar position="top" class="function-bar">
	<kendo-appbar-section>
		<kendo-breadcrumb [items]="items"></kendo-breadcrumb>
	</kendo-appbar-section>
	<kendo-appbar-spacer></kendo-appbar-spacer>
	<kendo-appbar-section>
		<kendo-buttongroup>
			<button kendoButton imageUrl="assets/img/Chart-12.svg" class="bg-white">DANH SÁCH COUPON</button>
			<button kendoButton imageUrl="assets/img/print.svg" class="bg-white px-1"></button>
			<button kendoButton icon="check-outline" class="bg-white">ÁP DỤNG</button>
			<button kendoButton class="bg-gray">XÓA ĐỢT PHÁT HÀNH</button>
			<button kendoButton icon="plus" class="bg-primary">TẠO MỚI <span class="k-icon k-i-arrow-chevron-down"></span></button>
			<button kendoButton class="form-group-button">
				<button kendoButton icon="import" class="px-1"></button>
				<button kendoButton imageUrl="assets/img/xlsxs.svg"></button>
				<span kendoButton></span>
				<button kendoButton icon="arrow-chevron-down"></button>
			</button>
		</kendo-buttongroup>
	</kendo-appbar-section>
</kendo-appbar>