<div class="main-views">
        <!-- <app-coupon-info></app-coupon-info>
        <app-conditions-apply></app-conditions-apply> -->
        <app-noti-config></app-noti-config>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
        <b>a</b><br>
</div>