::ng-deep {
        .group-tittle {
                h3 {
                        font-size: 16px;
                        font-weight: 700;
                        color: #26282E;
                        margin-top: 20px;
                        margin-bottom: 15px;
                }
        }

        .k-grid-layout {
                padding: 10px 20px;
        }
}