::ng-deep {
        .group-tittle {
                h3 {
                        font-size: 16px;
                        font-weight: 700;
                        color: #26282E;
                        margin-top: 20px;
                        margin-bottom: 15px;
                }
        }

        .k-grid-layout {
                padding: 10px 20px;
        }

        .text-dark {
                label {
                        font-size: 13px !important;
                        font-weight: 400 !important;
                        color: #26282E !important;
                        outline: none;
                }
        }

        .k-radio {
                border-color: #999999;
        }

        .k-radio:checked {
                border-color: #008000;
                background-color: #FFFFFF;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3e%3ccircle cx='50%25' cy='50%25' r='4' fill='green'/%3e%3c/svg%3e");
        }

        .k-radio:checked:focus {
                box-shadow: none;
        }

        .cell-1 {
                kendo-label {
                        .k-treeview {
                                .k-treeview-group {
                                        .k-treeview-item {
                                                padding-left: 0;

                                                .k-treeview-group {
                                                        padding-left: 16px;

                                                        .k-treeview-item {
                                                                div {
                                                                        .k-checkbox-wrapper {
                                                                                input {
                                                                                        width: 12px;
                                                                                        height: 12px;
                                                                                }
                                                                        }

                                                                        .k-treeview-leaf.k-focus {
                                                                                box-shadow: none;
                                                                        }
                                                                }
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }

        .cell-2 {
                .bg-g {
                        input {
                                background-color: #c4c4c457;
                        }
                }

                kendo-label {
                        display: flex;
                        flex-direction: column;

                        kendo-label {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;

                                .k-numerictextbox {
                                        input {
                                                height: 100% !important;
                                        }
                                }
                        }
                }
        }

        .cell-3 {
                kendo-label {
                        display: flex;
                        flex-direction: column;

                        kendo-label {
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: flex-end;
                                align-items: center;
                        }
                }
        }

        .mt-1 {
                margin-top: 5px;
        }

        .mt-2 {
                margin-top: 10pt;
        }

        .mt-4 {
                margin-top: 20px !important;
        }

        .mt-5 {
                margin-top: 25px;
        }

        .ml-6 {
                margin-left: 30px;
        }

        .mr-2 {
                margin-right: 10px;
        }
}