<div class="group-tittle">
        <h3>ĐIỀU KIỆN ÁP DỤNG</h3>
</div>
<kendo-gridlayout [cols]="[220, 255, 'auto']" [gap]="100">
        <!-- Cell 1 -->
        <kendo-gridlayout-item class="box">
                <kendo-label text="Đơn vị áp dụng">
                        <kendo-treeview [nodes]="data" [children]="children" [hasChildren]="hasChildren" textField="text" [kendoTreeViewCheckable]="checkableSettings"></kendo-treeview>
                </kendo-label>
        </kendo-gridlayout-item>
</kendo-gridlayout>